About two-step verification
Two-step verification is an optional feature that adds more security to your WhatsApp account. You’ll see the two-step verification screen after you successfully register your phone number on WhatsApp. You can learn how to enable two-step verification in this article.
Note: The two-step verification PIN is different from the 6-digit registration code you receive via SMS or phone call. You can learn more about registration in this article.
How to use two-step verification to protect your WhatsApp account
0:00 / 0:57
When you enable two-step verification, you have the option to enter your email address. This allows WhatsApp to email you a reset link in case you ever forget your PIN, and also helps safeguard your account.
After you enable two-step verification, WhatsApp will regularly ask you to enter your PIN as a reminder. As long as you don't reset the PIN, you will get a reminder once a week. Learn more about managing two-step verification settings in this article.
