How to manage two-step verification settings
You can manage two-step verification settings in your WhatsApp account. You have the option to enable or disable this feature or change the PIN. You can also update the email address associated with two-step verification.
How to use two-step verification to protect your WhatsApp account
0:00 / 0:57
Turn on two-step verification
Tap WhatsApp Settings or your profile picture.
Tap Account > Two-step verification > Turn on or Set up PIN.
Enter a six-digit PIN of your choice and confirm it.
Provide an email address you can access or tap Skip if you don’t want to add an email address. We recommend adding an email address as this allows you to reset two-step verification, and helps safeguard your account.
Tap Next.
Confirm the email address and tap Save or Done.
Enter the six-digit verification code sent to your email.
Tap Verify.
If you forgot your PIN, you’ll need to wait 7 days before you can reset it. Alternatively, if you’ve previously added your email address, we’ll send reset instructions to your email. We don’t verify this email address, so make sure it’s accurate and accessible to you.
Note:
For security purposes, there isn’t an option for us to speed up the 7-day timeframe or disable your account after two-step verification is enabled.
You will need an active SIM card in your device to complete the email verification process.
Turn off two-step verification:
Tap WhatsApp Settings or your profile picture.
Tap Account > Two-step verification >Turn off >Turn off.
Change your two-step verification PIN
Tap WhatsApp Settings or your profile picture.
Tap Account > Two-step verification > Change PIN.
Add an email address
Tap WhatsApp Settings or your profile picture.
Tap Account > Email address > Add Email.
Enter email address and tap Next or Verify.
Enter the six-digit verification code sent to your email.
Tap Verify.
Change an email address
Tap WhatsApp Settings or your profile picture.
Tap Account > Email address > Draw (pencil) > Change Email > Next.
Enter the six-digit verification code sent to your email.
Tap Verify.